body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.sudoku-game {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.copy-button {
     fontSize: "small"; marginLeft: "10px";
}
.header {
  background-color: #007bff;
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.seed-box {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 5px;
  width: 80%;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.footer {
  background-color: #007bff;
  color: white;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}