.sudoku-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 40px;
    height: 40px;
    padding: 0;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
}

.sudoku-box:nth-child(3n+4) {
    border-left: 3px solid black;
}
/* horizontal lines */
.sudoku-row:nth-child(3) .sudoku-box,
.sudoku-row:nth-child(6) .sudoku-box{
        border-bottom: 3px solid black;
}

.active {
    background-color: aqua;
}

.box-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 120px;
    height: 120px;
}
.sudoku-note {
    display: flex;
    justify-content: center;
    font-size: 8px;
}
.sudoku-number {
    display: flex;
    justify-content: center;
    font-size: 16px;
}
